<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test</title>

    <style type="text/css">
      html{height:100%}
      body{height:100%;margin:0px;padding:0px}
      #container{height:100%}
    </style>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=S0m0FgYzW7CnV8QpTmbGUrqai8g0XgjF"></script>

<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
</head>

<body>

<div id="container"></div>

<script type="text/javascript">
  var map = new BMap.Map("container");
  // 创建地图实例
  {# var point = new BMap.Point(121.48,31.22) #}
  var point = new BMap.Point({{pt}})
  // 创建点坐标
  map.centerAndZoom(point, 6);
  // 初始化地图，设置中心点坐标和地图级别

	map.enableScrollWheelZoom();                         //启用滚轮放大缩小


 //离港
    {% for item in list1 %}
	    map.addOverlay(new BMap.Polyline([new BMap.Point({{pt}}),new BMap.Point({{ item[0] }})], {strokeColor:"red", strokeWeight:4, strokeOpacity:0.1})); //创建直线对象
	    var point = new BMap.Point({{ item[0] }});
	    var opts = {
	        position : point,    // 指定文本标注所在的地理位置
	    }
	    var label = new BMap.Label("{{ item[1][0] }}" + ",到达:" + "{{ item[1][3] }}",opts)
	    label.setStyle({
			 color : "red",
			 fontSize : "12px",
			 height : "20px",
			 lineHeight : "20px",
			 fontFamily:"微软雅黑"
		 });
	    map.addOverlay(label);
    {% endfor %}

    //入港
    {% for item in list2 %}
	    map.addOverlay(new BMap.Polyline([new BMap.Point({{ item[0] }}),new BMap.Point({{pt}})], {strokeColor:"orange", strokeWeight:4, strokeOpacity:0.1})); //创建直线对象
	    var point = new BMap.Point({{ item[0] }});
	    var opts = {
	        position : point,    // 指定文本标注所在的地理位置
	    }
	    var label = new BMap.Label("{{ item[1][0] }}" +",到达:" + "{{ item[1][3] }}",opts)
	    label.setStyle({
			 color : "red",
			 fontSize : "12px",
			 height : "20px",
			 lineHeight : "20px",
			 fontFamily:"微软雅黑"
		 });
	    map.addOverlay(label);
    {% endfor %}


	//自定义地图元素
	var styleJson = [{
                    'featureType': 'water',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'land',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#f3f3f3'
                    }
                }, {
                    'featureType': 'railway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fdfdfd'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry.fill',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'poi',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'green',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'subway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'manmade',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'local',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'boundary',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'building',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'label',
                    'elementType': 'labels.text.fill',
                    'stylers': {
                        'color': '#999999'
                    }
                }]
    map.setMapStyle({styleJson: styleJson })
</script>

</body>
</html>