<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Lite Map</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=S0m0FgYzW7CnV8QpTmbGUrqai8g0XgjF"></script>

    <style type="text/css">
      html {height: 100%;}
      body{height: 100%; margin: 0px; padding: 0px;}
      #container{height: 100%}
    </style>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>

<script type="text/javascript">
  var map = new BMap.Map('container');
  // 创建地图实例
  // var point = new BMap.Point(116.404, 39.915);
  var point = new BMap.Point({{pt}});

  // 创建点坐标
  map.centerAndZoom(point, 6);
  // 初始化地图， 设置中心点坐标和地图级别
</script>