<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test</title>

    <style type="text/css">
      html{height:100%}
      body{height:100%;margin:0px;padding:0px}
      #container{height:100%}
    </style>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=S0m0FgYzW7CnV8QpTmbGUrqai8g0XgjF"></script>
</head>

<body>

<div id="container"></div>

<script type="text/javascript">
  // 创建地图实例
  var map = new BMap.Map("container");
  // 创建点坐标
  var point = new BMap.Point({{center}})

  // 初始化地图，设置中心点坐标和地图级别
  map.centerAndZoom(point, 6);

  //启用滚轮放大缩小
	map.enableScrollWheelZoom();

 // 每一段行程
  {% for p in trips %}
    //创建直线对象
    map.addOverlay(new BMap.Polyline([new BMap.Point({{p[0][0]}}, {{p[0][1]}}),
                                      new BMap.Point({{ p[1][0] }}, {{p[1][1]}})],
                                      {strokeColor:"red", strokeWeight:4, strokeOpacity:0.1}));
  {% endfor %}

	//自定义地图元素
	var styleJson = [{
                    'featureType': 'water',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'land',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#f3f3f3'
                    }
                }, {
                    'featureType': 'railway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fdfdfd'
                    }
                }, {
                    'featureType': 'highway',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'geometry.fill',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'poi',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'green',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'subway',
                    'elementType': 'all',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'manmade',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'local',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'arterial',
                    'elementType': 'labels',
                    'stylers': {
                        'visibility': 'off'
                    }
                }, {
                    'featureType': 'boundary',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#fefefe'
                    }
                }, {
                    'featureType': 'building',
                    'elementType': 'all',
                    'stylers': {
                        'color': '#d1d1d1'
                    }
                }, {
                    'featureType': 'label',
                    'elementType': 'labels.text.fill',
                    'stylers': {
                        'color': '#999999'
                    }
                }]
    map.setMapStyle({styleJson: styleJson })
</script>

</body>
</html>